<div class="footer-box"; style="margin-top: 60px;">
    <div class="row">
        <div class="col-md-6 footer-col">
            <p style="font-size: 18;">Thoughts, questions, queries, concerns:</p>
            <p><a href="/contact" style="color: inherit; text-decoration: none;">Contact</a></p>
            <p><a href="/about" style="color: inherit; text-decoration: none;">About</a></p>
        </div>
        <div class="col-md-6 footer-col">
            <p style="font-size: 18;">Find us on:</p>
            <p><a href="https://www.instagram.com/tackytings" target="_blank" style="color: inherit; text-decoration: none;">Instagram</a></p>
            <p><a href="https://www.trademe.co.nz/a/search?member_listing=6204300" target="_blank" style="color: inherit; text-decoration: none;">Trade Me</a></p>
        </div>
    </div>
</div>
