<html>
    <head>
        <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css rel="stylesheet">
        <link rel="stylesheet" href="public/css/styles.css">
    </head>
    <body class="lem-page">
        <%- include('partials/navbar1.ejs') %>
        <div class="content-container">
            <div class="product-info">
                <div class="image-container">
                    <img class="pageimg" src="/public/images/lempage1.jpg" alt="lem1">
                    <img class="pageimg" src="/public/images/lempage2.jpg" alt="lem2">
                </div>
                <div class="text-container">
                    <h2 style="color: #C7D187">Lemon Solid Dish Soap</h2>
                    <div class="price">$5-10</div>
                    <div class="description">
                       <p>With powerful grease-cutting abilities, lemon is a natural cleanser that not only<br>
                        tackles tough stains but also leaves your dishes sparkling clean. Its refreshing<br>
                        aroma brightens your kitchen, creating a cheerful atmosphere while providing<br>
                        antibacterial properties to keep your environment hygienic.<br><br>
                        $5 for 100g, $10 for 400g round<br><br>
                        How to use:
                    Grab your brush or sponge and lather the soap by rubbing/circling.<br>
                    Our solid dish soap does not produce as many bubbles as dish washing liquid as<br>
                    we don’t add any extra chemicals to make it do so, meaning that it can be easy to<br> 
                    use more than you need - just keep that in mind!<br>
                    Wash your dishes as normal.<br>
                    Rinse off the soap after use to keep it happy and healthy!<br><br>
                    Where can you grab one?<br>
                    Check out our <a href=https://www.instagram.com/tackytings>Instagram</a> or
                    <a href="https://www.trademe.co.nz/a/search?member_listing=6204300">TradeMe</a><br>
                    listings.<br>                    
                    Alternatively, send us an email.<br></p>
                    </div>
                    </div>
                </div>
            <div class="morebot">
                <h2 style="color: #C7D187;">More Solid Dish Soap</h2>
                <div class="morebot-items">
                    <a href="eucasoap" class="morebot-item">
                        <img src="public/images/eucalyptus%20soap%20img.jpg" alt="Eucalyptus Soap">
                        <h4 class="playfair-italic" text-decoration: none>Eucalyptus Solid Dish Soap</h4>
                    </a>
                    <a href="lavsoap" class="morebot-item">
                        <img src="public/images/lav%20soap%20img.jpg" alt="Lavender Soap">
                        <h4 class="playfair-italic" text-decoration: none>Lavender Solid Dish Soap</h4>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
